.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;
}

.logo {
  color: turquoise;
  font-size: 30px;
  cursor: pointer;
}

.ul {
  list-style: none;
  display: flex;
}

.li {
  margin: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}

.dot {
  color: orangered;
  font-size: 50px;
}
.link {
  text-decoration: none;
  color: unset;
}
